
obj/

/eduke32
/mapster32
/voidsw
/wangulator
/ekenbuild
/ekenbuild-editor

/nblood
/rednukem
/rrmapster32
/pcexhumed
/ewitchaven
/etekwar

/arttool
/bsuite
/cacheinfo
/enumdisplay
/generateicon
/getdxdidf
/givedepth
/ivfrate
/kextract
/kgroup
/kmd2tool
/makesdlkeytrans
/map2stl
/md2tool
/mkpalette
/transpal
/unpackssi
/wad2art
/wad2map

apps/
*.exe
/*.dll
*.dylib
*.so
*.elf
*.dol
*.x86
*.x64
*.ppc
/*.app

*.log
*.cache
*.cfg
textures
texturecache
*.index

*.manifest
/*.map
/platform/Windows/*.map
*.pdb
*.iobj
*.ipdb
*.ilk
.vs/
*.VC.db
*.VC.opendb
*.sym
/*.grp
/*.rts
/*.art
/*.con
/platform/Windows/*.con
*.memmap
*.sdf
*.suo
*.opensdf
*.vcxproj.user
*.psess
*.vsp
/platform/Windows/Debug/
/platform/Windows/Release/
/platform/Windows/Build/
/platform/Windows/x64/
/platform/Windows/Win32/
/platform/Windows/ARM64/
*.exp
*.lib
perl.exe.stackdump

xcuserdata/
project.xcworkspace/
*.dSYM/

.DS_Store
._*
/source/voidwrap/sdk/

/autoload
/movie
/*.png
/*.MHK
/*.AR_
/*.SMK
/*.WAV
/*.INI
/*.sav
/*.cfg_orig
/*.DEM
/*.DEM_

/platform/Windows/autoload
/platform/Windows/movie
/platform/Windows/*.png
/platform/Windows/*.MHK
/platform/Windows/*.AR_
/platform/Windows/*.SMK
/platform/Windows/*.WAV
/platform/Windows/*.INI
/platform/Windows/*.sav
/platform/Windows/*.cfg_orig
/platform/Windows/*.DEM
/platform/Windows/*.DEM_
